<%- include('navbar', {links: links}) %>
<form action="/new" method="POST">
  <h1>Send A New Message</h1>
  <label for="authorName">Author Name</label>
  <input type="text" id="authorName" name="authorName" />

  <label for="message">Message</label>
  <textarea
    name="message"
    id="message"
    placeholder="Write a message"
  ></textarea>
  <button type="submit">Send</button>
</form>
