<html>
  <head>
    <title>Document</title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>

    <div class="messages-container">
      <% messages.forEach((message) => { %>
      <div class="message">
        <div class="message-header">
          <h2>New Message From: <%= message.user %></h2>
        </div>
        <div class="content">
          <p><%= message.text %></p>
        </div>
        <div class="date-container">
          <p><%= message.added %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
